@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins";
}

body {
	width: 100%;
	min-height: 100vh;
	background: url(../images/dalal.jpeg);
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-size: cover !important;
	background-attachment: fixed !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	position: relative;
	display: flex;
	overflow: hidden;
}

.details-wrapper * {
	color: white;
}

.details-container {
	flex-direction: column;
	margin-top: 8%;
	margin-left: 8%;
	width: 40%;
	margin-bottom: 10em;
}

.details-heading-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 2em;
}

.details-cluster {
	padding-left: 4px;
}

.details-heading-start {
	font-family: Poppins;
	font-style: normal;
	font-weight: 300;
	font-size: 98px;
	line-height: 95%;
}

.details-heading-end {
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 98px;
	line-height: 95%;
}

.details-body-wrapper {
	display: flex;
	flex-direction: column;
	max-height: 35vh;
	overflow-y: scroll;
	height: 100%;
	width: 90vw;
}
.details-body-wrapper::-webkit-scrollbar {
	display: none;
}

.details-body {
	width: 40%;
}

.details-body-item {
	margin: 0.5em 0;
}

.details-body-item-head {
	font-weight: 500;
	font-size: 1.5em;
	margin-bottom: 0.75em;
	display: flex;
	align-items: center;
	width: 30%;
	justify-content: space-between;
	cursor: pointer;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-select: none;
}

.details-body-item-content {
	font-weight: 300;
}

.details-body-item-head i {
	font-size: 1.5em;
	cursor: pointer;
}

.hidden {
	height: 0;
	overflow: hidden;
}

/* add a media query for each of this */
/* sm: '320px',
  md: '768px',
  lg: '960px',
  xl: '1200px', */
@media only screen and (max-width: 320px) {
	.details-container {
		width: 70%;
		margin-left: 1em;
		margin-top: 6em;
	}
	.details-heading-start {
		font-size: 15vw;
	}
	.details-heading-end {
		font-size: 15vw;
	}
	.details-body {
		width: 60%;
	}
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
	.details-container {
		width: 70%;
		margin-left: 1em;
		margin-top: 6em;
	}
	.details-heading-start {
		font-size: 15vw;
	}
	.details-heading-end {
		font-size: 15vw;
	}
	.details-body {
		width: 60%;
	}
}

@media only screen and (min-width: 769px) and (max-width: 959px) {
	.details-container {
		width: 75%;
		margin-left: 1em;
	}
	.details-body {
		width: 75%;
	}
}

@media only screen and (min-width: 960px) and (max-width: 1199px) {
	.details-container {
		width: 50%;
	}
	.details-body {
		width: 50%;
	}
}

@media screen and (min-width: 1200px) {
	.details-container {
		width: 33%;
	}
}

@media only screen and (max-width: 600px) {
	/* .details-container {
		width: 50%;
		margin-left: 2em;
	} */
	.details-body-wrapper {
		height: 40vh;
		max-height: 40vh;
		background: rgba(20, 20, 20, 0.5);
		border-radius: 12px;
		padding: 2rem 1.5rem;
	}
	/* .details-body {
		width: 65%;
	}

	.details-body-item-head {
		font-family: Poppins;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 27px;
	}
	.details-body-item-content {
		font-family: Poppins;
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		line-height: 21px;
	} */
}
