@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins";
}

#overlay {
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, .9);
  display: none;
}

#overlay.active {
  display: block;
   z-index: 1;
}

body {
	width: 100%;
	min-height: 100vh;
	background: url(../images/dalal.jpeg);
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-size: cover !important;
	background-attachment: fixed !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	position: relative;
	display: flex;
	overflow: hidden;
}

.details-wrapper * {
	color: white;
}

.details-wrapper.black * {
	color: black;
}

.details-container {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-left: 8%;
	/* width: 40%; */
	/* margin-bottom: 10em; */
	margin-top: 1.5rem;
	height: 80vh;
}

#top-nav {
	width: 90vw;
	display: flex;
	justify-content: flex-end;
}

.details-heading-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
	margin-left: 1rem;
}

.details-cluster {
	padding-left: 4px;
}

.details-heading-start {
	font-family: Poppins;
	font-style: normal;
	font-weight: 300;
	font-size: 98px;
	line-height: 95%;
}

.zoom {
	background-size: cover !important;
}

.details-heading-end {
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 98px;
	line-height: 95%;
}

.details-body-wrapper {
	/* display: flex; */
	/* flex-direction: column; */
	/* max-height: 35vh; */
	overflow-y: auto;
	/* height: 100%; */
	width: 45vw;
	padding: 1rem 2rem;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	transition: all 0.2s;
}

.details-body-wrapper:hover {
	background: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(10px);
}

.details-body-wrapper::-webkit-scrollbar {
	height: 10px;
	width: 10px;
}
.details-body-wrapper::-webkit-scrollbar-track {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 20px;
}
.details-body-wrapper::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 20px;
}
.details-body-wrapper::-webkit-scrollbar-thumb:hover {
	background-color: rgba(255, 255, 255, 0.4);
}

.details-body {
	width: 90%;
}

.details-body-item {
	margin: 0.5em 0;
}

.details-body-item-head {
	font-weight: 500;
	font-size: 1.5em;
	margin-bottom: 0.75em;
	display: flex;
	align-items: center;
	position: relative;
	width: 30%;
	justify-content: space-between;
	cursor: pointer;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-select: none;
}

.details-body-item-head:after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 1px;
	bottom: -1px;
	left: 0;
	background-color: #fff;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out, height 0.2s;
	border-radius: 2px;
}

.details-body-item-head:after:hover {
	height: 4px;
}

.details-body-item-head:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
	height: 3px;
}

.details-body-item-content {
	font-weight: 300;
	transition: all 0.5s;
	height: attr(data-height px);
	opacity: 1;
}

.details-body-item-head i {
	font-size: 1.5em;
	cursor: pointer;
}

.hidden {
	height: 0;
	opacity: 0;
	overflow: hidden;
}

#registration-content  br {
	display: none;
}

fieldset {
	border: none;
}

input[type="submit"] {
	background-color: #afb1c05c;
	border: 2px solid #ffffff;
	height: 50px;
	backdrop-filter: blur(64px);
	width: 100px;
}

/* add a media query for each of this */
/* sm: '320px',
  md: '768px',
  lg: '960px',
  xl: '1200px', */
@media only screen and (max-width: 320px) {
	.details-container {
		width: 70%;
		margin-left: 1em;
		/* margin-top: 6em; */
	}
	.details-heading-start {
		font-size: 15vw;
	}
	.details-heading-end {
		font-size: 15vw;
	}
	.details-body {
		width: 100%;
	}
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
	.details-container {
		width: 70%;
		margin-left: 1em;
		/* margin-top: 4em; */
	}
	.details-heading-start {
		font-size: 15vw;
	}
	.details-heading-end {
		font-size: 15vw;
	}
	.details-body {
		width: 100%;
	}
}

@media only screen and (min-width: 769px) and (max-width: 959px) {
	.details-container {
		width: 75%;
		margin-left: 1em;
	}
	.details-body {
		width: 75%;
	}
}

@media only screen and (min-width: 960px) and (max-width: 1199px) {
	.details-container {
		width: 50%;
	}
	.details-body {
		width: 50%;
	}
}

@media screen and (min-width: 1200px) {
	.details-container {
		width: 33%;
	}
}

@media only screen and (max-width: 600px) {
	/* .details-container {
		width: 50%;
		margin-left: 2em;
	} */
	.details-body-wrapper {
		height: 40vh;
		max-height: 40vh;
		background: rgba(20, 20, 20, 0.5);
		border-radius: 12px;
		padding: 2rem 1.5rem;
	}
	/* .details-body {
		width: 65%;
	}

	.details-body-item-head {
		font-family: Poppins;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 27px;
	}
	.details-body-item-content {
		font-family: Poppins;
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		line-height: 21px;
	} */
}
