<head>
  <link href="./assets/css/bottom-side-nav.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="./assets/css/bottom-nav.css">
  <script src="./assets/js/bottom-side-nav.js" defer></script>
  <link>
</head>

<body>
  <!-- <h1>Hello</h1> -->
  <div id="blur"></div>
  <div class="sidenav"></div>
  <div class="navbar">
    <nav class="menu-navigation-icons">
      <a href="#" class="zoom"><span>Dalal Street</span></a>
      <a href="#" class="zoom"><span>Beer Factory</span></a>
      <a href="#" class="zoom"><span>The Ultimate Manager</span></a>
      <a href="#" class="zoom"><span>PPL</span></a>
      <a href="#" class="zoom"><span>Marketing Hub</span></a>
    </nav>
  </div>

</body>
